@media(min-width: 300px) {
    .header-container {
        height: 85px;
        display: flex;
        align-items: center;
        border-bottom: solid 5px #bababa;
        position: relative;

        img {
            width: 18%;
            position: absolute;
            left: 10px;
        }

        h1 {
            margin: 0 auto;
            padding-left: 20px;
            font-size: 1.5rem;
            color: #555555;
        }
    }
}
